/* links */
a,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

/* utils */
.breakline {
  height: 5vh;
}

/* containers */
.container {
  height: 100vh;
}

.main-content {
  margin-top: 2vh;
}

.buttons-container {
  display: 'flex';
  justify-content: 'flex-start';
  margin-top: 6vh;

  .icon {
    margin-right: 1vh;
    font-size: 20px;
  }
}
